<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="CSS/MainMenu.css">
    <link rel="stylesheet" href="CSS/home.css">
    <script src="../public/JS/script.js"></script>
</head>
<body>
    <header>
        <a href="home">
            <img src="Images/logof.png" alt="Logo" class="logo">
        </a>
        <nav class="navigation">
            <a href="/home">Home</a>
            <div class="dropdown">
                <a href="/MainMenu" class="menu-link">Menu</a>
                <div class="dropdown-content">
                    <a href="/appetizers">Appetizers</a>
                    <a href="/mainDishes">Main Course</a>
                    <a href="/desserts">Desserts</a>
                    <a href="/drinks">Beverages</a>
                </div>
            </div>
            <a href="/about">About</a>
            <a href="/reservation">Reservation</a>
            <a href="/myProfile">My Profile</a>
        </nav>
    </header>

    <div class="menu-items">
        <div class="menu-item">
            <a href="appetizers">
                <img class="foodimages" src="Images/Rectangle 9.png" alt="Appetizer image">
                <h2 class="fooddescription">APPETIZERS</h2>
            </a>
        </div>
        <div class="menu-item">
            <a href="mainDishes">
                <img class="foodimages" src="Images/Rectangle 6.png" alt="Main Course image">
                <h2 class="fooddescription">MAIN<br>COURSE</h2>
            </a>
        </div>
        <div class="menu-item">
            <a href="desserts">
                <img class="foodimages" src="Images/images.jpeg" alt="Desserts image">
                <h2 class="fooddescription">DESSERTS</h2>
            </a>
        </div>
        <div class="menu-item">
            <a href="drinks">
                <img class="foodimages" src="Images/cantarito_recipe.jpg" alt="Beverages image">
                <h2 class="fooddescription">BEVERAGES</h2>
            </a>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Mexican Restaurant. All rights reserved.</p>
        <p><a href="privacy">Privacy Policy</a> | <a href="terms">Terms of Service</a></p>
    </footer>
</body>
</html>
